.navbar {
  background-color: #1fbfae;
  padding: 0 50px;
  height: 50px;
  display: flex;
}

.navbar-cadastrando-favorecido {
  align-items: center;
  justify-content: right;
}

.navbar-tab-item {
  display: flex;
  border-bottom: 2px solid white;
  align-items: center;
}

.navbar-tab-item-text {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.conteudo-header-containerFavorecidos {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.conteudo-header-titulo {
  font-size: 28px;
  font-weight: 300;
  color: #757575;
  margin-right: 10px;
}

.conteudo-header,
.conteudo-pagina {
  padding: 50px;
}

.conteudo-pagina {
  background-color: white;
}
